{% extends 'base.html' %}
{% block 'contenido'%}

{% load static %}
<div class="container-fluid d-flex justify-content-center text-info" style="text-align: justify;">
  <div class="row justify-content-center ">
    <div class="col-md-11 col-sm-12">
      <img src="{% static 'img/etiquetas/nosotros.png' %}" alt="" class="mt-5 mb-5 img-fluid img-pequena">
    </div>
  </div>
</div>

<div class="container text-center">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/about.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/carrusel_flan_1.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/carrusel_flan_2.jpg' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
      
      
      
        <div class="col-md-8 col-sm-11 mx-auto p-5">
        <p class="about-paragraph">
            Bienvenidos a OnlyFlans. En OnlyFlans, creamos flanes excepcionales con
            ingredientes frescos y un toque de pasión artesanal. Cada bocado es una
            experiencia única, cuidadosamente elaborada para deleitar tu paladar y
            endulzar tus momentos especiales. Únete a nosotros en este viaje culinario
            donde la calidad y el amor por los postres son nuestra firma distintiva.
        </p>
    </div>
</div>
{% endblock 'contenido' %}
