{% extends 'base.html' %} 

{% block 'contenido' %}
{% load static %}
<div class="container-fluid d-flex justify-content-center text-info" style="text-align: justify;">
  <div class="row justify-content-center ">
    <div class="col-md-11 col-sm-8">
      <img src="{% static 'img/etiquetas/nuestros.png' %}" alt="" class="mt-5 mb-5 img-fluid img-pequena">
    </div>
  </div>
</div>

<div class="container-fluid d-flex justify-content-center text-info" style="text-align: justify;">
   <div class="row justify-content-center  ">
    <div class="row">
    <form id="searchForm" action="#" method="get" class="col-4 mb-4 mx-auto">
      <div class="input-group">
        <input type="text" id="searchInput" name="q" class="form-control" placeholder="Buscar...">
        <button type="submit" class="btn btn-info text-light">Buscar</button>
      </div>
    </form>
  </div>
    {% for flan in flanes %}
    <div class="col-md-3 col-sm-2 m-2 p-4 justify-content-center align-items-center text-center flan-card" data-name="{{ flan.name }}">
      <div class="card mx-auto border border-warning" style="width: 18rem">
        <img src="{{ flan.image_url }}" class="img-fluid rounded" alt="..." style="width: 300px; height: 200px;">
        <div class="card-body text-center">
          <h3 class="card-title">{{ flan.name }}</h3>
          <h4 class="card-text">Precio: $ {{ flan.price|floatformat:"0" }}</h4>

          
            <input type="hidden" name="precio_unitario" value="{{ flan.price }}">
            
            {% if user.is_authenticated %}
            <button type="submit" class="btn btn-danger mt-4 text-light">
                Agregar al carrito
            </button>
            {% endif %}
          <!-- Botón para abrir el modal -->
          
          <button type="button" class="btn btn-info mt-4 text-light" data-bs-toggle="modal" data-bs-target="#flanModal{{ forloop.counter }}">
            Detalle
          </button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="flanModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="flanModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h3 class="text-dark" id="flanModalLabel">{{ flan.name }}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <img src="{{ flan.image_url }}" class="img-fluid" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mt-4">
                  <p class="text-dark">{{ flan.descripcion }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mt-4">
                  <h4 class="card-text">Precio: $ {{ flan.price|floatformat:"0" }}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  // selecciona el formulario de búsqueda por su ID y agrega un "escuchador de eventos" para el evento de envío (submit)
  document.getElementById('searchForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Evita que el formulario se envíe y la página se recargue

    // obtiene el valor del campo de búsqueda, lo limpia de espacios en blanco al inicio y al final, y lo convierte a minúsculas
    var query = document.getElementById('searchInput').value.trim().toLowerCase();

    // obtiene todas las tarjetas de flan (elementos con la clase 'flan-card')
    var flanes = document.getElementsByClassName('flan-card');

    // itera sobre todas las tarjetas de flan para realizar la búsqueda
    for (var i = 0; i < flanes.length; i++) {
      // obtiene el nombre del flan de cada tarjeta de flan, también en minúsculas
      var nombreFlan = flanes[i].getAttribute('data-name').toLowerCase();

      // verifica si el nombre del flan incluye la consulta de búsqueda
      if (nombreFlan.includes(query)) {
        // si el nombre del flan coincide con la búsqueda, muestra la tarjeta de flan estableciendo su estilo de visualización como vacío ('')
        flanes[i].style.display = '';
      } else {
        // si el nombre del flan no coincide con la búsqueda, oculta la tarjeta de flan estableciendo su estilo de visualización como 'none'
        flanes[i].style.display = 'none';
      }
    }
  });
</script>

{% endblock 'contenido' %}

