{% extends 'base.html' %} {% block 'contenido'%}
<h1 class="about-h1 text-center text-info">Bienvenido</h1>
<div class="container-fluid d-flex justify-content-center " style="text-align: justify;">
  <div class="row justify-content-center">
    {% for flan in flanes %}
    <div class="col-md-3 col-sm-2 m-2 p-4 m-4 justify-content-center ">
      <div class="card" style="width: 18rem">
        <img src="{{flan.image_url}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{flan.name}}</h5>
          <p class="card-text">{{flan.descripcion}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    {%endfor%}
  </div>
</div>
  {% endblock %}
</div>